:root {
  /* Consistent Font and Typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Font Rendering Enhancements */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color Variables */
  --primaryMain: #cbb26b;
  --background: #313131;
  --black: #242424;
  --text: #fff;
  --bgContrast: #a0a0a0;
  --darkBlack: #000;

  /* Color Settings */
  color-scheme: light dark;
  color: rgb(255, 255, 255, 0.87);
}

/* Responsive and Adaptive Layout */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: var(--darkBlack);
}

.MuiPopper-root {
  div {
    background-color: var(--primaryMain) !important;
    color: var(--black) !important;
  }
}
