:root {
  /* Consistent Font and Typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Font Rendering Enhancements */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color Variables */
  --primaryMain: #cbb26b;
  --background: #313131;
  --black: #242424;
  --text: #fff;
  --bgContrast: #a0a0a0;
  --darkBlack: #000;

  /* Color Settings */
  color-scheme: light dark;
  color: rgb(255, 255, 255, 0.87);
}

/* Responsive and Adaptive Layout */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: var(--darkBlack);
}

/* Chat UI style */

.cs-main-container {
  border: none !important;
}
.cs-button {
  color: var(--primaryMain) !important;
}

/* Left Side - Covnersations */

.cs-sidebar--left {
  background-color: var(--background) !important;
  border-right: solid 2px var(--background) !important;
}

.cs-conversation {
  background-color: var(--black) !important;
}

.cs-conversation:hover {
  background-color: var(--background) !important;
}

.cs-conversation__name {
  color: var(--text) !important;
}

.cs-conversation__info {
  color: var(--text) !important;
}

.cs-conversation--active .cs-conversation__info {
  color: var(--primaryMain) !important;
}

.cs-conversation--active .cs-conversation__name {
  color: var(--primaryMain) !important;
}

.cs-avatar .cs-status__bullet {
  border: solid 2px var(--black) !important;
}

.cs-conversation.cs-conversation--active {
  border-left: solid 2px var(--primaryMain) !important;
  background-color: var(--background) !important;
}

/* Search Bar */

.cs-search {
  background-color: var(--background) !important;
}

.cs-search__input {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

.cs-search__input::placeholder {
  color: var(--text) !important;
}

.cs-search__search-icon {
  color: var(--text) !important;
}

.cs-search__clear-icon {
  color: var(--text) !important;
}

.cs-sidebar {
  background-color: var(--black) !important;
}

/*  Header */

.cs-conversation-header {
  background-color: var(--black) !important;
  border-bottom: solid 2px var(--background) !important;
}

.cs-conversation-header__user-name {
  color: var(--text) !important;
  background-color: var(--black) !important;
}

.cs-conversation-header__info {
  color: var(--bgContrast) !important;
  background-color: var(--black) !important;
}

/* Right Expansion - Info */

.cs-sidebar--right {
  background-color: var(--black) !important;
  border-left: solid 2px var(--background) !important;
}
.cs-expansion-panel__header {
  background-color: var(--black) !important;
  border-bottom: solid 2px var(--background) !important;
}

.cs-expansion-panel__content {
  background-color: var(--black) !important;
}

.cs-expansion-panel__title {
  color: var(--text) !important;
}

.cs-expansion-panel__icon {
  color: var(--primaryMain) !important;
}

.cs-expansion-panel__content {
  color: var(--text) !important;
}

.cs-expansion-panel {
  border: none !important;
}

/* Messages component */

.cs-message-list__scroll-wrapper {
  background-color: var(--black) !important;
}

.cs-message--outgoing .cs-message__content {
  background-color: var(--primaryMain) !important;
  color: var(--black) !important;
  width: fit-content;
  align-self: flex-end;
}

.cs-message--incoming .cs-message__content {
  background-color: var(--background) !important;
  color: var(--text) !important;
  width: fit-content;
  align-self: flex-start;
}

.cs-message--outgoing .cs-message__footer {
  color: var(--bgContrast) !important;
  width: fit-content;
  align-self: flex-end;
}

.cs-message--incoming .cs-message__footer {
  color: var(--bgContrast) !important;
  width: fit-content;
  align-self: flex-start;
}

/* Typing field */

.cs-typing-indicator {
  background-color: var(--black) !important;
}

.cs-typing-indicator__text {
  color: var(--primaryMain) !important;
}

.cs-typing-indicator__dot {
  background-color: var(--primaryMain) !important;
}

.cs-message-input {
  background-color: var(--black) !important;
  /* border-top: solid 2px var(--background) !important; */
}

.cs-message-separator {
  color: var(--primaryMain) !important;
  background-color: var(--black) !important;
}
.cs-message-separator::before,
.cs-message-separator::after {
  background-color: var(--primaryMain) !important;
}

.cs-button--send {
  color: var(--text) !important;
}

/* .cs-message-input {
  padding: 15px 5px !important;
} */

.cs-message-input__content-editor-wrapper {
  background-color: var(--background) !important;
}

.cs-message-input__content-editor::before {
  background-color: var(--background) !important;
  color: var(--text) !important;
}
.cs-message-input__content-editor {
  background-color: var(--background) !important;
  /* color: var(--text) !important; */
}

.MuiPopper-root {
  div {
    background-color: var(--primaryMain) !important;
    color: var(--black) !important;
  }
}
